<!DOCTYPE html>
<html>


<head>
    
    <link rel="stylesheet" href="/styles.css">

    {% block head %}
    <title>Mayk Brito</title>
    {% endblock %}

</head>

<body>
    <header>
        <div class="links">
            <!--A camada div está por cima da camada header-->
            <a href="/">Sobre</a>
            <a href="/portifolio">Aulas</a>
        </div>
    </header>


    <!--O block é uma propiedade do node que me permite reutilizar codigo de forma dinâmico-->

{% block content %}
    
{% endblock %}



</body>

</html>