{%  extends "layout.njk" %} <!-- extendendo os arquivos da página layout. Ele irá juntar o que tem na página layout com o conteúdo do block content-->

{% block head %}

<title>Portifolio - Mayk Brito</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"> <!--Importando icones do material icons guide--> 

{% endblock %}

    {% block content %} <!--Tudo que estiver dentro destas tags irá para a página layout-->

    <div id="wrapper">
        <h1>Aulas </h1>
    </div>

    <section class="cards"> 

        {% for item in items %} <!-- Este for ele vai repetir para cada items ele vai repitir 6 vezes e chamar de item. E dentro de cada atributo, vai alterar o valor de acordo com cada atributo dentro dos objetos do data.js-->
        <div class="card" id="{{item.id}}">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt=" Imagem de {{item.title}}">
            </div>
            <div class="card_content">
                <p>{{item.title}}</p>
            </div>
            <div class="card_info">
                <p>{{item.duration}}</p>
                <p class="card_price">{{item.price}}</p>
            </div>
        </div>
        {% endfor %}
        
    </section>

    <div class="modal-overlay"> 
        <div class="modal">

            <a class="close-modal">
                <i class="material-icons">close </i>
            </a>

            <div class="modal-content">
                 <iframe src="" frameborder="0"></iframe>
            </div>

        </div>
    </div>

    <script src="scripts.js"></script> <!--Chama meu arquivo scripts.js  -->

    {% endblock %}